body
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #342E3D;
}

#header
{
    background-color: #B5919A;
    padding: 20px;
    border-bottom: 2px solid black;
}

#header h1
{
    margin: 0;
    font: 35px Impact;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer
{
    margin: 0;
    padding: 10px;
    background-color: #B5919A;
    height: 30px;
}

#container
{
    background-color: #DBB0B5;
    border: 3px solid black;
}

#navigation
{
    padding: 0;
    margin: 1px;
    float: left;
    left: 0;
    width: 10em;
    background-color: #DBB0B5;
}

#navigation ul
{
    padding: 0;
    margin:  0;
}

#navigation li 
{
    padding: 0;
    margin:  0;
    display: block;
    border-bottom: solid 1px #000;
}

#navigation a:link,
#navigation a:visited 
{
    color: #000;
    display: block;
    padding: 20px;
    font: 13px Georgia;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

#navigation a:hover
{
    background-color: #635369;
}

#content
{
    margin-left: 9em;
    background-color: #F2F2F2;
    font: 18px Georgia;
    padding: 20px;
    height: 400px;
    overflow: auto;
}

#content-no-margin h2
{
    font: 24px "Arial Narrow";
}

#content-no-margin
{
    background-color: #F2F2F2;
    font: 18px Georgia;
    padding: 20px;
    height: 400px;
    overflow: auto;
}

.button
{
    margin-top:    1px;
    padding: 4px 7px;
    width:  100px;
    border-bottom: 2px solid #342E3D;
    border-top:    1px solid #342E3D;
    border-left:   1px solid #342E3D;
    border-right:  2px solid #342E3D;
    color: #DBCCCE;
    height: 35px;
    background-color: #8A6D81;
    font: bold small-caps 14px Verdana;
}

.button:hover
{
    color: white;
    background-color: #BD95B0;
}

.button:active
{
    margin-top:    0px;
    border-bottom: 1px solid #342E3D;
    border-top:    2px solid #342E3D;
    border-left:   2px solid #342E3D;
    border-right:  1px solid #342E3D;
    color: #DBCCCE;
    background-color: #8A6D81;
}
