body
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: cornsilk;
}

#header
{
    background-color: linen;
    padding: 20px;
}

#header h1
{
    margin: 0;
}

#footer
{
    padding: 20px;
    background-color: linen;
}

#container
{
    background-color: beige;
    border: 2px solid black;
}

#navigation
{
    float: left;
    left: 0;
    width: 10em;
    background-color: beige;
}

#navigation li 
{
    padding: 0;
    margin: 0;
}

#content
{
    margin-left: 9em;
    background-color: lavenderblush;
    font: 18px Georgia;
    padding: 20px;
}
